body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../text_to_speech/images/IMG-20201121-WA0094.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: burlywood;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
h1{
    font-size: 30px;
    font-weight: 300px;
    text-shadow: 3px 4px 10px white;
    color: white;
}
textarea{
    width: 300px;
    height: 100px;
    margin: 25px 0;
    box-shadow: 5px 6px 10px black;
    border: none;
    outline: none;
}
button{
    background-color: black;
    padding: 15px;
    color: white;
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
